body{
  margin:0;
  padding:0;
  background:url(../bg.gif) 0 0 repeat #f7f5f5;
  color:#333;
  font-family:Cambria, Georgia, serif;
  font-size:15px;
  overflow-x:hidden;
}
a {
  color:#35BFFF;
  text-decoration:none;
}
a:hover, a:active{
  color:#91DCFF;
}

#header, #footer, #content {
  padding-left: 10px;
  padding-right: 10px;
}

/* Header */
#header {
  padding-top: 20px;
  font-style: italic;
  font-weight: bold;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-size: 2em;
}

/* Footer */
#footer {
  clear: both;
  color: red;
  padding-top: 10px 0px;
}

#footer p {
  text-align: center;
}

/* clearfix */
.clearfix {
  clear:both;
}

#backlinks{
  float:right;
  padding:0 20px;
  line-height:22px;
  font-weight:bold;
  font-size:13px;
}
#backlinks a{
  text-align:right;
  display:block;
}

/* wrapper css */
#wrapper{
  margin-top:70px;
  width:100%;
}
#wrapper hgroup{
  text-align:center;
}
#wrapper h2{
  margin:5px 0;
  color:#FF6D99;
  text-shadow:1px 1px 2px #A50031;
  font-size:33px;
  font-family:Arial Narrow, Arial, sans-serif;
}
#wrapper h3{
  font-style:italic;
  font-weight:normal;
  font-size:18px;
  text-shadow:1px 1px 0 #fff;
  color:#888;
  margin:5px 0;
}

#container {
  width:1100px;
  margin:0 auto 25px;
}

#content{
  position:relative;
  padding-bottom: 10px;
}

.grid{
  width:188px;
  min-height:100px;
  padding: 15px;
  background:#fff;
  margin:8px;
  font-size:12px;
  float:left;
  box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
  
  -webkit-transition: top 1s ease, left 1s ease;
  -moz-transition: top 1s ease, left 1s ease;
  -o-transition: top 1s ease, left 1s ease;
  -ms-transition: top 1s ease, left 1s ease;
}

.grid strong {
  border-bottom:1px solid #ccc;
  margin:10px 0;
  display:block;
  padding:0 0 5px;
  font-size:17px;
}
.grid .meta{
  text-align:right;
  color:#777;
  font-style:italic;
}
.grid .imgholder img{
  max-width:100%;
  background:#ccc;
  display:block;
}

@media screen and (max-width : 1240px) {
  body{
    overflow:auto;
  }
}
@media screen and (max-width : 900px) {
  #backlinks{
    float:none;
    clear:both;
  }
  #backlinks a{
    display:inline-block;
    padding-right:20px;
  }
  #wrapper{
    margin-top:90px;
  }
}

h5.dline {
  line-height: 1.2;
  font-size: 1.1em;
}
h3.d2line {
    line-height: 0.9;
}

.block {
  padding-top: 10px;
  padding-bottom: 10px;
}
.block .block-content img {
  margin: 0 5px;
}

hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

.imgholder, .imgholder img {
  border-radius: 4px;
}

.try_form {
  width: 300px;
  margin: 10px auto;
  margin-top: 40px;
  padding: 0 20px!important;
  border-color: #E5E5E5 #EEE #EEE;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px 0px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05) inset;
}

.try_form input {
  width: 100%;
}