body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

h5.dline {
    line-height: 0.6;
}
h3.d2line {
    line-height: 0.9;
}

hr {
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}