<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <meta charset="utf-8">
  <title>Pin recommendation</title>

  <script src="https://assets.pinterest.com/sdk/sdk.js"></script>
  <script>
  window.pAsyncInit = function() {
    PDK.init({
      appId: "1446534", // Change this
      cookie: true
    });
  };

  (function(d, s, id){
    var js, pjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//assets.pinterest.com/sdk/sdk.js";
    pjs.parentNode.insertBefore(js, pjs);
  }(document, 'script', 'pinterest-jssdk'));

  function login_with_Pinterest() {
    PDK.login({scope : 'read_public, write_public'}, function(session) {
      if (!session) {
        alert('The user chose not to grant permissions or closed the pop-up');
      } else {
        console.log('Thanks for authenticating. Getting your information...');
        PDK.me(function(response) {
          if (!response || response.error) {
            alert('Oops, there was a problem getting your information');
          } else {
            console.log('Welcome,  ' + response.data.first_name + '!');
          }
        });
      }
    });
  }
  </script>

</head>

<body>

  <input type="button" value=" Log in " onclick="login_with_Pinterest()"/>

</body>
</html>